@font-face {
    font-family: 'Work-Sans-Light';
    src: url('font/Work-Sans-Light/worksans/WorkSans-ExtraLight.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans-Medium';
    src: url('font/Work-Sans-Light/worksans/WorkSans-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Work-Sans-SemiBold';
    src: url('font/Work-Sans-Light/worksans/WorkSans-SemiBold.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'Work-Sans-Light', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0 14%;
}

/*HEADER*/
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* ombre légère */
    z-index: 1000;

}

header a {
    font-size: 14px;
}

header img {
    padding: 0;
    width: 270px;
}

header nav>ul {
    display: flex;
    list-style: none;
}

header nav li {
    position: relative;
    margin: 10px;
}

header nav a {
    text-decoration: none;
    color: #ababab;
    font-weight: bold;

}

nav a:last-child:hover {
    display: block;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: #0cb49c;

}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    display: none;
    min-width: 230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.submenu li {
    margin: 5px 0;
    /* Supprime l’écart */
    padding: 0;
    /* optionnel */
}

.submenu a {
    display: block;
    /* Très important pour que padding prenne effet */
    width: 100%;
    /* Pour remplir toute la largeur du <li> */
    padding: 10px 0;
    left: 0;

}

.submenu a:hover {
    color: #00ccb1;
    background-color: #f2f2f2;

}

.has-submenu:hover .submenu {
    display: block;
}

/*SECTION 1*/
.sec1 {
    margin-top: 100px;
}

.sec1 p {
    margin-top: 35px;
    font-size: 16px;
    color: #747678;
    line-height: 25px;
    font-family: "Work-Sans-Medium";

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 40px;
}

.columns {
    display: flex;
    gap: 20px;
}

/*SECTION 2*/
.sec2 {
    margin-top: 85px;
    text-align: center;
}

.sec2 p {

    font-size: 25px;
    font-weight: 550;
}

.target {
    position: relative;
    flex: 1 1 260px;  /* base de 260px, mais peut s'étirer ou se réduire */
    vertical-align: top;
    /* Très important pour aligner en haut */
    display: inline-block;
    width: 260px;
    height: 350px;
    padding: 0 25px;
    margin: 0 7px;
    border-radius: 10px;
    color: white;
    text-align: left;
}

.target:hover {
    opacity: 0.9;
}

.target:first-child {
    background-color: #00ccb1;
}

.target:nth-child(2) {
    background-color: #3d83df;
}

.target:nth-child(3) {
    background-color: #1b2734;
}

.target i {
    font-size: 20px;
    padding: 20px 0 0 0;
}

span a {
    color: #3d83df;
    font-weight: bolder;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

.target select {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    background: none;
    /* Supprime l’arrière-plan */
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.select {
    position: absolute;
    /* nécessaire pour que bottom fonctionne */
    bottom: 50px;
    /* colle le select en bas de .target */
}

option {
    font-size: 15px;
    color: black;
    background-color: white;
    font-weight: 900;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

}

.sponsors h1 {
    font-size: 25px;
    text-align: left;
}

.marques {
    padding-left: 50px;

    display: flex;
    flex-wrap: wrap;

}

.marque {
    display: flex;
    margin: 0 5px;
    width: 170px;
    cursor: pointer;
}


.marque p {
    font-family: "Work-Sans-SemiBold";
    color: #c4c4c4;
    font-size: 19px;
    margin: auto 0;

}

.marque:hover p {
    color: #00ccb1;
}

.marque img {
    position: static;
    width: 20px;
    height: 20px;
    margin: auto 10px;
    filter: grayscale(100%);
    /*Filter permet de changer la couleur d'une image*/
}

.marque:hover img {
    filter: grayscale(0);
    mix-blend-mode: multiply;
}

/*Section 3*/
.sec3 {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    /* largeur totale de la fenêtre */
    
    display: flex;
    justify-content: center;
    background-color: #e0f4f4;
    height: 580px;
    overflow: hidden;
    color: #847e84;

}

.sec3 h1 {
    font-size: 35px;
}

.sec3 h2 {
    color: #00ccb1;
}

.sec3 p {
    font-size: 14px;
    font-weight: bold;
}

.health {
    margin-top: 50px;
}

.health h1,
.health p {
    text-align: left;
    width: 350px;
    word-wrap: break-word;
}

.sec3 img {
    margin-top: 30px;
    width: 450px;
    transform: translateX(-150px);
    /* décale l’image vers la droite de 50px */

}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 450px;
    gap: 20px;
    /*border: 1px solid black; M'aide à voir les dimensions de la grille*/
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 225px;
    height: 225px;
    border-radius: 5px;
    text-align: center;

}


.card:first-child {
    margin-top: 30px;
}

.card:last-child {
    margin-top: -30px;
}

.card i {
    font-size: 30px;
    color: #00ccb1;
}

.card i:first-child {
    margin-top: 30px;
}

.card p {
    font-size: 12px;
}

.card>img {
    width: 60px;
    height: 60px;
}

/*SECTION 4*/
.sec4 {
    margin-top: 80px;
    text-align: center;
}

.sec4>p {
    width: 500px;
    color: #847e84;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Work-Sans-Medium";
}

.grid1 {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    column-gap: 10px;
    /* garde un espacement horizontal confortable */
    justify-items: center;
    width: 960px;
    margin: 0 auto;
}

.grid1 img {
    object-fit: cover;
    width: 300px;
    height: 260px;
    border-radius: 7px 7px 0 0;
}

.item {
    border-radius: 8px;
    margin-top: 20px;
    border: 0.1px solid rgb(247, 244, 244)
}

.item:hover {
    box-shadow: 5px 5px 20px -5px rgb(0, 0, 0);
    cursor: pointer
}

.item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;

}

.item p {
    font-size: 18px;
    font-weight: bold;
    color: #747474;
}

.item a {
    font-size: 10px;
}

.sec4 a {
    padding: 10px;
    background-color: #3d83df;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Work-Sans-SemiBold";

}

.sec4>a {
    font-size: 13px;

}

/*FOOTER*/
footer {
    border-top: 2px solid rgb(247, 244, 244);
    font-size: 12px;
    font-weight: bold;
    color: #747474;
    margin-top: 120px;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: static;
}

footer a {
    text-decoration: none;
    color: #3d83df;

}

.sec4 a:hover {
    background-color: #1864c4;

}

@media screen and (max-width: 1367px) {
    .sec1{
        padding: 0 10%;
    }

    body {
        padding: 0 15px;
    }
}

@media screen and (max-width: 971px) {

   .sec2{
    
        display: flex;
        flex-direction: column;
        align-items: center; /* centre horizontalement les enfants */
      }   
    
   .target{
    max-width: 260px;
    min-height: 350px;
    margin: 10px 0;

   }

   .sponsors{

   }
}


@media screen and (max-width: 870px) {
    .grid1 {
        display: flex;
        overflow-x: auto;
        /*Active le scroll horizontal si le contenu dépasse la largeur de l’écran.*/
        gap: 16px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding: 10px;
    }

    .grid1::-webkit-scrollbar {
        display: none;
    }

    .grid1 {
        -ms-overflow-style: none;
        /* IE & Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .item:hover{
        box-shadow: none;    }


}